defaults: &defaults
  working_directory: ~/CLARK-Gateway
  docker:
    - image: cyber4all/circleci-aws:latest
version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Image
          command: | 
            docker build -t clark-gateway:$CIRCLE_SHA1 .
            mkdir -p docker-image
            docker save -o "docker-image/clark-gateway:${CIRCLE_SHA1}.tar" clark-gateway:$CIRCLE_SHA1
      - persist_to_workspace: 
          root: ./
          paths: 
              - ./docker-image
              - ./package.json
              - ./deploy.sh

  publish:
    <<: *defaults
    steps:
      - attach_workspace: 
          at: ~/CLARK-Gateway
      - setup_remote_docker
      - run:
          name: Load Image
          command: |
            docker load < "docker-image/clark-gateway:${CIRCLE_SHA1}.tar"
      - run:
          name: Login to docker
          command: docker login -u "${DOCKER_USER}" -p "${DOCKER_PASS}"
      - run:
          name: Publish Image 
          command: |
            docker tag clark-gateway:$CIRCLE_SHA1 "${DOCKER_USER_ORG}/clark-gateway:${CIRCLE_SHA1}"
            docker push "${DOCKER_USER_ORG}/clark-gateway:${CIRCLE_SHA1}"

  deploy-production:
    <<: *defaults
    steps:
      - attach_workspace: 
          at: ~/CLARK-Gateway
      - setup_remote_docker
      - run:
          name: Login to docker
          command: docker login -u "${DOCKER_USER}" -p "${DOCKER_PASS}"
      - run:
          name: Pull Image
          command: docker pull "${DOCKER_USER_ORG}/clark-gateway:${CIRCLE_SHA1}"
      - run:
          name: Publish Image 
          command: |
            export SEMVER=$(cat ./package.json | grep version | head -1 | awk -F= "{ print $2 }" | sed 's/[version:,\",]//g' | tr -d '[[:space:]]')
            docker tag "${DOCKER_USER_ORG}/clark-gateway:${CIRCLE_SHA1}" "${DOCKER_USER_ORG}/clark-gateway:${SEMVER}"
            docker push "${DOCKER_USER_ORG}/clark-gateway:${SEMVER}"
      - run:
          name: Deploy to ECS
          command: |
            export SEMVER=$(cat ./package.json | grep version | head -1 | awk -F= "{ print $2 }" | sed 's/[version:,\",]//g' | tr -d '[[:space:]]')
            export DOCKER_IMAGE="${DOCKER_USER_ORG}/clark-gateway:${SEMVER}"
            chmod +x ./deploy.sh
            sh ./deploy.sh
            
workflows:
  version: 2
  build-and-publish:
    jobs:
      - build
      - publish:
          requires:
            - build

  build-and-deploy-production:
    jobs:
      - build:
          filters:
            branches:
              only: /master/
      - publish:
          requires:
            - build
          filters:
            branches:
              only: /master/
      - deploy-production:
          requires:
            - publish
          filters:
            branches:
              only: /master/