defaults: &defaults
  working_directory: ~/CLARK-Gateway
  docker:
    - image: cyber4all/circleci-aws:node-alpine

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm install
      - run:
          name: Build Application
          command: npm run build
      - persist_to_workspace: 
          root: ./
          paths: 
              - ./dist
              - ./package.json
              - ./.elasticbeanstalk
  deploy:
    <<: *defaults
    steps:
      - attach_workspace : 
          at: ~/CLARK-Gateway
      - run:
          name: Setup AWS credentials
          command: |
            mkdir ~/.aws && printf "[profile default]\naws_access_key_id = ${AWS_ACCESS_KEY_ID}\naws_secret_access_key = ${AWS_SECRET_ACCESS_KEY}" > ~/.aws/config
      - run: 
          name: Copy package.json
          command: cp ./package.json ./dist
      - run: 
          name: Zip dist
          command: cd ./dist; zip -r ../dist.zip . *; cd ..
      - run:
          name: Deploy to Elastic Beanstalk 
          command: eb deploy Gateway-API --verbose --label Gateway-API-v$(node -p "require('./package.json').version")
workflows:
  version: 2
  build:
    jobs:
      - build
  build-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: /master/
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: /master/